<section id="page-project" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <div *ngIf="isLoading" class="loading-container">
        <div class="loading-spinner"></div>
      </div>
      <div *ngIf="!isLoading && selectedProject" class="profile-container">
        <img class="profile-banner"[src]="selectedProject.banner || 'assets/images/no-banner.jpg'" onerror="this.onerror=null; this.src='assets/images/no-banner.jpg';" alt="{{ selectedProject.name || 'Project' }}" />
        <img class="profile-picture" [src]="selectedProject.picture || 'assets/images/no-image.jpg'" onerror="this.onerror=null; this.src='assets/images/no-image.jpg';" alt="{{ selectedProject.name || 'Project' }}" />
        <div class="profile-details">
          <div class="main-title-bar">
            <h1 class="p-name section-title" itemprop="headline name">{{ selectedProject.name }}</h1>
          </div>
          <div class="e-content section-entry">
            <p>{{ selectedProject.about }}</p>
          </div>
          <div class="additional-info">
            <p *ngIf="selectedProject.additionalData?.display_name"><strong>Display Name:</strong> {{ selectedProject.additionalData.display_name }}</p>
            <p *ngIf="selectedProject.additionalData?.website"><strong>Website:</strong> <a [href]="selectedProject.additionalData.website" target="_blank">{{ selectedProject.additionalData.website }}</a></p>
          </div>
        </div>
      </div>
      <div *ngIf="!isLoading && errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</section>
