<section id="page-project" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <div *ngIf="isLoading" class="loading-container">
        <div class="loading-spinner"></div>
      </div>

      <div *ngIf="!isLoading && selectedProject" class="profile-container">
        <!-- Project Metadata Display -->
        <img
          class="profile-banner"
          [src]="selectedProjectMetadata?.banner || 'assets/images/no-banner.jpg'"
          onerror="this.onerror=null; this.src='assets/images/no-banner.jpg';"
          alt="{{ selectedProjectMetadata?.name || 'Project' }}"
        />
        <img
          class="profile-picture"
          [src]="selectedProjectMetadata?.picture || 'assets/images/no-image.jpg'"
          onerror="this.onerror=null; this.src='assets/images/no-image.jpg';"
          alt="{{ selectedProjectMetadata?.name || 'Project' }}"
        />
        <div class="profile-details">
          <div class="main-title-bar">
            <h1 class="p-name section-title" itemprop="headline name">
              {{ selectedProjectMetadata?.name || selectedProject.projectIdentifier }}
            </h1>
          </div>
          <div class="e-content section-entry">
            <p>{{ selectedProjectMetadata?.about }}</p>
          </div>
          <div class="additional-info">
            <p *ngIf="selectedProjectMetadata?.website">
              <strong>Website:</strong>
              <a [href]="selectedProjectMetadata.website" target="_blank">
                {{ selectedProjectMetadata.website }}
              </a>
            </p>
          </div>
        </div>

        <!-- Project Stats Display -->
        <div class="project-stats">
          <h1 class="p-name section-title">Project Stats</h1>
          <p><strong>Investor Count:</strong> {{ selectedProjectStats?.investorCount }}</p>
          <p><strong>Amount Invested:</strong> {{ selectedProjectStats?.amountInvested }}</p>
          <p><strong>Amount Spent by Founder:</strong> {{ selectedProjectStats?.amountSpentSoFarByFounder }}</p>
          <p><strong>Amount in Penalties:</strong> {{ selectedProjectStats?.amountInPenalties }}</p>
          <p><strong>Penalty Count:</strong> {{ selectedProjectStats?.countInPenalties }}</p>
        </div>

        <!-- Project Details Display -->
        <p><strong>Founder Key:</strong> {{ selectedProject.founderKey }}</p>
        <p><strong>Nostr Public Key:</strong> {{ selectedProject.nostrPubKey }}</p>
        <p><strong>Project Identifier:</strong> {{ selectedProject.projectIdentifier }}</p>
        <p><strong>Created On Block:</strong> {{ selectedProject.createdOnBlock }}</p>
        <p><strong>Transaction ID:</strong> {{ selectedProject.trxId }}</p>
        <p><strong>Total Investments Count:</strong> {{ selectedProject.totalInvestmentsCount }}</p>

      </div>

      <div *ngIf="!isLoading && errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</section>

<section id="page-events" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">Events</span>
          </h1>
        </div>
      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        <div *ngFor="let event of events" class="event">
          <div class="event-content">
            <p><strong>Event Content:</strong> {{ event.content }}</p>
            <p><strong>Created At:</strong> {{ event.created_at * 1000 | date:'short' }}</p>
            <p><strong>Event ID:</strong> {{ event.id }}</p>
          </div>
        </div>
      </div>



      <div class="comment-section">
        <div *ngFor="let comment of comments" class="comment">
          <p><strong>Content:</strong> {{ comment.content }}</p>
          <p><strong>Created At:</strong> {{ comment.created_at * 1000 | date:'short' }}</p>
          <div *ngIf="comment.tags.length > 0">
            <p><strong>Tags:</strong></p>
            <ul>
              <li *ngFor="let tag of comment.tags">
                <span><strong>{{ getTagType(tag[3]) }}:</strong> {{ tag[1] }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
