<section id="page-notifications" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">Generate New Account</span>
          </h1>
        </div>
      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        <div class="form-group">
          <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Name" type="text" class="input-text" required />
        </div>
        <div class="form-group">
          <input [(ngModel)]="about" [ngModelOptions]="{standalone: true}" placeholder="About" type="text" class="input-text" />
        </div>
        <div class="form-group">
          <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" type="password" class="input-text" required />
        </div>
        <button class="auth-button" (click)="generateNewAccount()">Generate New Account</button>
      </div>
    </div>
  </div>
</section>

<section *ngIf="isAuthenticated" id="nostr-main" class="section">
  <div class="container main-container">
    <div class="account-info">
      <h2>New Nostr Account</h2>
      <p><strong>Public Key: </strong> <span class="key">{{ publicKey }}</span></p>
      <p><strong>Private Key: </strong> <span class="key">{{ privateKeyHex }}</span></p>
    </div>
  </div>
</section>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
