<section id="page-home" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <div class="e-content article-entry" itemprop="articleBody">
        <div class="truncate-text">
          <div *ngIf="loading">Loading Projects...</div>
          <div *ngIf="!loading && errorMessage">{{ errorMessage }}</div>
          <div *ngIf="!loading && projects.length > 0">
            <ul>
              <li *ngFor="let user of projects" (click)="goToProjectDetails(user)">
                 <span>{{ user.nostrPubKey }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
