<section id="profile" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">Login</span>
          </h1>
        </div>
        <div class="meta-info-bar">
          <div class="meta-info">
            <a class="main-nav-link" routerLink="/profile/extension">Login with extension</a>
          </div>
          <div class="meta-info">
            <a class="main-nav-link" routerLink="/profile/privatekey">Login with private key</a>
          </div>
          <div class="meta-info">
            <a class="main-nav-link" routerLink="/profile/menemonic">Login with mnemonic</a>
          </div>
          <div class="meta-info">
            <a class="main-nav-link" routerLink="/profile/new">Create new account</a>
          </div>
        </div>
      </header>
    </div>
  </div>
</section>


<section id="page-home" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">Home</span>
          </h1>
        </div>

      </header>
      <div class="e-content article-entry" itemprop="articleBody">

      </div>
    </div>
  </div>
</section>
