<h1 mat-dialog-title class="dialog-title">{{ data.message }}</h1>
<div mat-dialog-content class="dialog-content">
  <mat-form-field appearance="outline" class="password-form-field">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" type="password" class="password-input" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="btn-cancel" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" class="btn-confirm" [mat-dialog-close]="password" (click)="onOkClick()">OK</button>
</div>
