.section-main {
  padding: 0 !important;
}

.chat-list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-card, .chat-item {
  background: var(--input-field);
  border-radius: 16px;
  padding: 16px;
  color: var(--neut-L75);
  font-size: 16px;
  font-weight: medium;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px;
  overflow: hidden;
}

.project-card:hover, .chat-item:hover {
  background: var(--input-field-hover);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.project-card:active, .chat-item:active {
  transform: scale(0.98);
}

.chat-avatar {
  margin-right: 15px;
  flex-shrink: 0;
}

.chat-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-info {
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.chat-name,
.chat-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}
.chat-message {
  font-size: 0.9em;
}
.chat-name{
  font-size: 1.2em;
}
.chat-time {
  font-size: 0.7em;
  color: #aaa;
  flex-shrink: 0;
  white-space: nowrap;
  margin-left: 10px;
}

.section-header .main-title-bar {
  display: flex;
  align-items: center;
}

.e-content.article-entry {
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

@media (min-width: 769px) {
  .chat-name,
  .chat-message {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .chat-name,
  .chat-message {
    max-width: 100%;
  }
}
