<section id="nostr-auth" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">Authenticate with Nostr</span>
          </h1>
        </div>
        <button class="auth-button" (click)="loginWithNostrExtension()">Login with Nostr Extension</button>
      </header>
    </div>
  </div>
</section>



