<section id="page-notifications" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">{{ recipientPublicKey }}</span>
          </h1>
        </div>

      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        <section id="chat-section" class="chat-container h-entry">
          <div class="chat-messages">
            <ul>
              <li *ngFor="let msg of receivedMessages" class="received-message">{{ msg }}</li>
            </ul>
          </div>
          <div class="chat-input">
            <textarea [(ngModel)]="message" placeholder="Type your message here"></textarea>
            <button class="btn-angor" (click)="sendMessage()">Send</button>
          </div>
        </section>

      </div>
    </div>
  </div>
</section>

