.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
   border-radius: 8px;
  overflow: hidden;
}

.chat-header {
  padding: 15px;
  background: var(--card-background);
  text-align: center;
}

.user-meta h2 {
  margin: 0;
  font-size: 1.2em;
}

.chat-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background: var(--card-background)
}

.chat-input {
  display: flex;
  padding: 15px;
  background: var(--card-background)}

.chat-input textarea {
  flex-grow: 1;
  resize: none;
  padding: 10px;
  margin-right: 10px;
   border-radius: 4px;
}

.btn-angor
{
  height: 64px;
}
.section-title {
  display: inline-block;
  max-width: 200px;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
