<section id="page-notifications" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">Send a Message</span>
          </h1>
        </div>

      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        <div class="message-container">
           <textarea [(ngModel)]="message" placeholder="Type your message here"></textarea>
          <button (click)="sendMessage()">Send</button>

          <h2>Received Messages</h2>
          <ul>
            <li *ngFor="let msg of receivedMessages">{{ msg }}</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>


