<section id="page-message" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">{{ recipientPublicKey }}</span>
          </h1>
        </div>
      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        <section id="chat-section" class="chat-container h-entry">
          <div class="chat-main">
            <div class="chat-messages" #chatMessagesContainer>
              <ul>
                <li *ngFor="let msg of messages"
                    [ngClass]="{'sent-message': isSentByUser(msg), 'received-message': !isSentByUser(msg)}"
                    [class.right]="isSentByUser(msg)"
                    [class.left]="!isSentByUser(msg)">
                  {{ msg.content }}
                </li>
              </ul>
            </div>
            <div class="chat-input">
              <textarea [(ngModel)]="message" placeholder="Type your message here"></textarea>
              <button class="btn-angor" (click)="sendMessage()">Send</button>
              <button class="btn-angor" (click)="toggleEmojiPicker()">😊</button>
              <div *ngIf="isEmojiPickerVisible" class="emoji-picker">
                <span *ngFor="let emoji of customEmojis" (click)="addEmoji(emoji)">{{ emoji }}</span>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
