<section id="page-bookmarks" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">Bookmarks</span>
          </h1>
        </div>

      </header>
      <div class="e-content article-entry" itemprop="articleBody">

      </div>
    </div>
  </div>
</section>
