<section id="private-key-section" class="section">
  <div class="container auth-container">
    <h2>Enter Your Private Key</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <input [(ngModel)]="privateKey" [ngModelOptions]="{standalone: true}" placeholder="Private Key (hex)" type="text" class="input-text" required />
      </div>
      <button type="submit" class="auth-button">Submit</button>
    </form>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
</section>
