<section id="page-profile" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <div *ngIf="isLoading" class="loading-container">
        <div class="loading-spinner"></div>
      </div>

      <div *ngIf="!isLoading && metadata" class="profile-container">
        <img *ngIf="metadata.banner" class="profile-banner" [src]="metadata.banner" alt="Banner">
        <img *ngIf="metadata.picture" class="profile-picture" [src]="metadata.picture" alt="Profile Picture">

        <div class="profile-details">
          <div class="main-title-bar">
            <h1 class="p-name section-title">{{ metadata.name }}</h1>
          </div>
          <div class="e-content section-entry">
            <p>{{ metadata.about }}</p>
          </div>
          <div class="additional-info">
            <p *ngIf="metadata.display_name"><strong>Display Name:</strong> {{ metadata.display_name }}</p>
            <p *ngIf="metadata.website"><strong>Website:</strong> <a [href]="metadata.website" target="_blank">{{ metadata.website }}</a></p>
          </div>
        </div>




        <div>
          <h2>Followers ({{followers.length}})</h2>
          <!-- <ul *ngIf="followers.length">
            <li *ngFor="let follower of followers">{{ follower.nostrPubKey }}</li>
          </ul> -->
        </div>

        <div>
          <h2>Following ({{following.length}})</h2>
          <!-- <ul *ngIf="following.length">
            <li *ngFor="let followingUser of following">{{ followingUser.nostrPubKey }}</li>
          </ul> -->
        </div>

        <div>
          <h2>Events ({{events.length}})</h2>
          <!-- <ul *ngIf="events.length">
            <li *ngFor="let event of events">
              <pre>{{ event.content }}</pre>
            </li>
          </ul> -->
        </div>

        <!-- <span (click)="editProfile()">Edit Profile</span> -->
      </div>

      <div *ngIf="!isLoading && errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</section>
