<section id="mnemonic-key-section" class="h-entry section section-type-page">
  <div class="section-inner">
    <div class="section-main">
      <header class="section-header">
        <div class="main-title-bar">
          <div class="main-title-dot"></div>
          <h1 itemprop="name">
            <span class="section-title">Generate Keys from Mnemonic</span>
          </h1>
        </div>

      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        <form (submit)="onSubmit()">
          <div class="form-group">
            <input
              [(ngModel)]="mnemonic"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Enter your mnemonic"
              type="text"
              class="input-text"
              required
            />
          </div>
          <div class="form-group">
            <input
              [(ngModel)]="passphrase"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Optional passphrase"
              type="text"
              class="input-text"
            />
          </div>
          <button type="submit" class="auth-button">Generate Keys</button>
        </form>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="success-message">
          {{ successMessage }}
        </div>
      </div>
    </div>
  </div>
</section>

 